frr version 3.1+cl3u3
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% for interface in routing["bgp"]["underlay"]["peers"] -%}
interface {{interface}}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ routing["bgp"]["underlay"]["asn"] }}
 bgp router-id {{ loopback|replace("/32", "")}}
 bgp bestpath as-path multipath-relax
{% for interface in routing["bgp"]["underlay"]["peers"] -%}
 neighbor {{interface}} interface remote-as external
{% endfor -%}
 !
 address-family ipv4 unicast
  redistribute connected route-map loopbacks
 exit-address-family
 !
  address-family l2vpn evpn
   {% for interface in routing["bgp"]["underlay"]["peers"] -%}
   neighbor {{interface}} activate
   {% endfor -%}
   advertise-all-vni
  exit-address-family
!
!
route-map loopbacks permit 10
 match interface lo
!
line vty
!
