{% for ip_to_ping in host["pings"] %}
{% if  ip_to_ping['ip'] is defined %}
{% if ip_to_ping['vrf'] is defined %}
{% if '!' in ip_to_ping['ip']  %}
if ping -c 1 {{ ip_to_ping['ip'][1:] }} -I {{ ip_to_ping['vrf'] }} ; then ping ERROR -c 1 ; else ping 0 -c 1 ; fi
{% else %}
ping -c 1 {{ ip_to_ping['ip'] }} -I {{ ip_to_ping['vrf'] }}
{% endif %}
{% else %}
{% if '!' in ip_to_ping['ip'] %}
if ping -c 1 {{ ip_to_ping['ip'][1:] }} ; then ping ERROR -c 1 ; else ping 0 -c 1 ; fi
{% else %}
ping -c 1 {{ ip_to_ping['ip'] }}
{%  endif %}
{% endif %}
{% endif %}
{% endfor %}