frr version 3.1+cl3u3
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% if overlay is defined %}
{% set vrfs = [] %}
{% for irb in overlay["irb"] -%}
{% if overlay["irb"][irb]["vrf"] is defined %}
vrf {{overlay["irb"][irb]["vrf"]}}
 vni 40{{overlay["irb"][irb]["l3vni"]}}
{% endif %}
{% endfor %}
{% endif %}
!
{% if routing["bgp"]["underlay"] is defined %}
{% for interface in routing["bgp"]["underlay"]["peers"] -%}
interface {{interface}}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
{% if routing["bgp"]["underlay"]["internal_peers"] is defined %}
{% for interface in routing["bgp"]["underlay"]["internal_peers"] -%}
!
{% endfor %}
{% endif %}
{% endif %}

{% if overlay is defined %}
{% for irb in overlay["irb"] -%}
{% if overlay["irb"][irb]["ipv6_"] is defined %}
{% if overlay["irb"][irb]["ipv6"]["VRRP"] is defined %}
interface vlan{{overlay["irb"][irb]["l2vni"]}}-v0 vrf {{overlay["irb"][irb]["vrf"]}}
 ipv6 nd managed-config-flag
 ipv6 nd other-config-flag
 ipv6 nd prefix {{overlay["irb"][irb]["ipv6"]["prefix"]}} 7200 1800 no-autoconfig
 ipv6 nd ra-interval 10
 ipv6 nd ra-lifetime 120
 no ipv6 nd suppress-ra
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if routing["bgp"]["underlay"] is defined %}
router bgp {{ routing["bgp"]["underlay"]["asn"] }}
 bgp router-id {{ loopback|replace("/32", "")}}
 bgp bestpath as-path multipath-relax
{% for interface in routing["bgp"]["underlay"]["peers"] -%}
 neighbor {{interface}} interface remote-as external
{% endfor -%}
{% if routing["bgp"]["underlay"]["internal_peers"] is defined %}
{% for interface in routing["bgp"]["underlay"]["internal_peers"] -%}
 neighbor {{interface}} interface remote-as internal
{% endfor %}
{% endif %}
 !
 address-family ipv4 unicast
  redistribute connected route-map LOOPBACK_ROUTES
 exit-address-family
 !
 address-family l2vpn evpn
   {% if routing["bgp"]["underlay"]["internal_peers"] is defined %}
   {% for interface in routing["bgp"]["underlay"]["internal_peers"] %}
    neighbor {{interface}} activate
   {% endfor %}
   {% endif %}
   {% if routing["bgp"]["underlay"]["peers"] is defined %}
   {% for interface in routing["bgp"]["underlay"]["peers"] %}
    neighbor {{interface}} activate
   {% endfor %}
   {% endif %}
   advertise-all-vni
 exit-address-family
{% endif %}

route-map LOOPBACK_ROUTES permit 10
 match interface lo
!
line vty
!
