###############
# Ansible generated config, will be overwritten!
###############

###############
# General
###############
auto lo
iface lo inet loopback
   address {{ loopback }}
{% if overlay is defined %}
{% if overlay["anycast_ip"] is defined %}
   clagd-vxlan-anycast-ip {{ overlay["anycast_ip"]|replace("/32", "")}}
{% endif %}
{% endif %}

{% if oob is defined and oob['ip_addr'] is defined and oob['netmask'] is defined %}
auto eth0
iface eth0 inet
  address {{ oob['ip_addr'] }}/{{ oob['netmask'] }}
{% if oob['alias'] is defined %}
  alias {{ oob['alias'] }}
{% endif %}
{% if oob['default'] is defined %}
  gateway {{ oob['default'] }}
{% endif %}
  vrf mgmt
{% else %}
auto eth0
iface eth0 inet dhcp
  vrf mgmt
{% endif %}

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

###############
# PORT FABRIC 
###############

{% if ports is defined %}
{% for port, to in ports.items() %}
{% if "swp" in port %}
auto {{ port }}
iface {{ port }}
  alias to {{ to['to'] }}
  mtu 9216
{% endif %}
{% endfor %}
{% endif %}

###############
# MLAG
###############

{% if mlag is defined %}
auto peerlink
iface peerlink
  bond-slaves {{ mlag["members"] | join(" ") }}
  mtu 9000

auto peerlink.4094
iface peerlink.4094
  address {{ mlag["address"] }}
  clagd-peer-ip {{ mlag["peer_ip"] }}
  clagd-backup-ip {{ mlag["backup_ip"] }}
  clagd-sys-mac {{ mlag["sysmac"] }}
  {% if mlag["priority"] is defined -%}
  clagd-priority {{ mlag["priority"] }}
  {% endif %}
{% endif %}

###############
# Bond
###############

{% if ports is defined %}
{% for interface, facts in ports.items() %}
{% if "bond" in interface %}
iface {{ interface }}
  mtu 9000
  bond-slaves {{ facts["members"]|join(" ") }}
  bridge-access {{ facts['pvid'] if facts['pvid'] is defined else 1 }}
  clag-id {{ loop.index }}
  
{% endif %}
{% endfor %}
{% endif %}
###############
# Bridge / Vlans
###############

{% set l3vnis = [] %}
auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports
{%- for port in ports -%}
{% if (ports[port]["vlans"] is defined) %}
 {{ port }}
{%- endif %}
{% endfor %}
{% if mlag is defined %} peerlink{% endif %}
{% if overlay is defined %}{%- for irb in overlay["irb"] %}{% if overlay["irb"][irb]["l2vni"] is defined %} vni10{{ overlay["irb"][irb]["l2vni"] }}{% endif %}{% endfor %}{% endif %}

{% if overlay["irb"] is defined and overlay["irb"]|length %}
  bridge-vids{% for irb in overlay["irb"] %} {{ overlay["irb"][irb]["l2vni"] }}{% endfor %}
{% endif %}

  bridge-pvid 1


###############
# VXLAN / VNI
###############

{% if overlay is defined %}
{% for irb in overlay["irb"] %}
auto vni10{{ overlay["irb"][irb]["l2vni"] }}
iface vni10{{ overlay["irb"][irb]["l2vni"] }}
  {% if mtu is defined -%}
  mtu {{ mtu }}
  {% endif -%}
  vxlan-id 10{{ overlay["irb"][irb]["l2vni"] }}
  vxlan-local-tunnelip {{ loopback|replace("/32", "") }}
  bridge-access {{ overlay["irb"][irb]["l2vni"] }}
  bridge-learning off
  mstpctl-bpduguard yes
  mstpctl-portbpdufilter yes
  bridge-arp-nd-suppress on

{% endfor %}
{% endif %}

###############
# VRF
###############

{% if overlay is defined %}
{% set vrfs = [] %}
{% for irb in overlay["irb"] %}
{% if overlay["irb"][irb]["vrf"] is defined %}
{% if overlay["irb"][irb]["vrf"] not in vrfs %}
auto {{ overlay["irb"][irb]["vrf"] }}
iface {{ overlay["irb"][irb]["vrf"] }}
    vrf-table auto
{{ vrfs.append(overlay["irb"][irb]["vrf"]) }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

###############
# VLAN
###############

{% if overlay is defined %}
{% for irb in overlay["irb"] %}
{% if overlay["irb"][irb]["vrf"] is defined %}

auto vlan{{ overlay["irb"][irb]["l2vni"] }}
iface vlan{{ overlay["irb"][irb]["l2vni"] }}
    vrf {{ overlay["irb"][irb]["vrf"] }}
    vlan-id {{ overlay["irb"][irb]["l2vni"] }}
    vlan-raw-device bridge
    {% if overlay["irb"][irb]["ipv4"] is defined -%}
    address {{ overlay["irb"][irb]["ipv4"]["None"] }}
    {% endif -%}
    {% if overlay["irb"][irb]["ipv4"]["VRRP"] is defined -%}
    address-virtual {{ overlay["irb"][irb]["virtual_mac"] }} {{ overlay["irb"][irb]["ipv4"]["VRRP"]}} {% if overlay["irb"][irb]["ipv6_"] is defined %}{% if overlay["irb"][irb]["ipv6"]["VRRP"] is defined %}{{ overlay["irb"][irb]["ipv6"]["VRRP"]}}{% endif %}{% endif %}
    {% endif %}

    {% if overlay["irb"][irb]["ipv6_"] is defined -%}
    address {{ overlay["irb"][irb]["ipv6"]["None"] }}
    {% endif %}

auto vlan{{ overlay["irb"][irb]["l3vni"] }}
iface vlan{{ overlay["irb"][irb]["l3vni"] }}
    hwaddress 44:39:39:FF:{{ overlay["irb"][irb]["mac_p1"] }}:{{ overlay["irb"][irb]["mac_p2"] }}
    vrf {{ overlay["irb"][irb]["vrf"] }}
    vlan-id {{ overlay["irb"][irb]["l3vni"] }}
    vlan-raw-device bridge
{% endif %}
{% endfor %}
{% endif %}

###############
# L3 VNI
###############
{# 
{% if overlay is defined %}
{% for irb in overlay["irb"] %}
auto vxlan40{{ overlay["irb"][irb]["l3vni"] }}
iface vxlan40{{ overlay["irb"][irb]["l3vni"] }}
    vxlan-id 40{{ overlay["irb"][irb]["l3vni"] }}
    vxlan-local-tunnelip {{ loopback|replace("/32", "") }}
    bridge-learning off
    bridge-access {{ overlay["irb"][irb]["l3vni"] }}
    
{% endfor %}
{% endif %} #}
