# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
{% if oob is defined and oob['ip_addr'] is defined and oob['netmask'] is defined %}
auto eth0
iface eth0 inet
  address {{ oob['ip_addr'] }}/{{ oob['netmask'] }}
{% if oob['alias'] is defined %}
  alias {{ oob['alias'] }}
{% endif %}
{% if oob['default'] is defined %}
  gateway {{ oob['default'] }}
{% endif %}
{% if oob['vrf'] is defined %}
  vrf {{ oob['vrf'] }}
{% endif %}
{% else %}
auto eth0
iface eth0 inet dhcp
{% endif %}
