# The loopback network interface
auto lo
iface lo inet loopback
   address {{ loopback }}


{% if oob is defined and oob['ip_addr'] is defined and oob['netmask'] is defined %}
auto eth0
iface eth0 inet
  address {{ oob['ip_addr'] }}/{{ oob['netmask'] }}
{% if oob['alias'] is defined %}
  alias {{ oob['alias'] }}
{% endif %}
{% if oob['default'] is defined %}
  gateway {{ oob['default'] }}
{% endif %}
  vrf mgmt
{% else %}
auto eth0
iface eth0 inet dhcp
  vrf mgmt
{% endif %}

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

###############
# PORT FABRIC 
###############
{% if ports is defined %}
{% for port, to in ports.items() %}
{% if "swp" in port %}
auto {{ port }}
iface {{ port }}
  alias to {{ to['to'] }}
  mtu 9216
{% endif %}
{% endfor %}
{% endif %}
